
@{
    ViewData["Title"] = "Assignment3";
}
@model RecordsAndEntries

<h1 class="border-bottom">@ViewData["Title"] - Rodrigo Eltz - 040913098</h1>
<h2 class="border-bottom"> Records </h2>
<div class="container">
    <button class="btn-dark mb-2" data-toggle="modal" data-target=".add-new-entry">Add new entry</button>
    <form id="table" runat="server">
        <table class="table table-striped table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">REF_DATE</th>
                <th scope="col">GEO</th>
                <th scope="col">Sex</th>
                <th scope="col">Age Group</th>
                <th scope="col">Student Response</th>
                <th scope="col">UOM</th>
                <th scope="col">UOM ID</th>
                <th scope="col">Scalar Factor</th>
                <th scope="col">Vector</th>
                <th scope="col">Coordinate</th>
                <th scope="col">Value</th>
                <th scope="col" colspan="2" class="text-center">Actions</th>
            </tr>
            <tbody>
                @foreach (var element in Model.records)
                {
                    <tr>
                        @foreach (var prop in @element.GetType().GetProperties())
                        {
                            <td>
                                @prop.GetValue(element, null)
                            </td>
                        }
                        <td><button class="btn-secondary">Edit</button></td>
                        <td><button class="btn-secondary">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <button class="btn-dark" data-toggle="modal" data-target=".add-new-entry">Add new entry</button>
</div>


@*Add new entry modal*@
<div class="modal fade add-new-entry">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"> Add new entry</div>
            </div>
               <form id="new-entry" method="post" runat="server" asp-action="EntryTransform">
                <div class="form-group">
                    <label>Ref Date</label>
                    <input class="form-control" name="refDate" type="number" asp-for="entry.RefDate" />
                </div>
                <div class="form-group">
                    <label>GEO</label>
                    <input class="form-control" asp-for="entry.Geo" name="geo" type="text" />
                </div>
                <div class="form-group">
                    <label>Sex</label>
                    <input class="form-control" asp-for="entry.Sex" name="sex" type="text" />
                </div>
                <div class="form-group">
                    <label>Age group</label>
                    <input class="form-control" asp-for="entry.AgeGroup" name="ageGroup" type="text" />
                </div>
                <div class="form-group">
                    <label>Student Response</label>
                    <input class="form-control" name="studentResponse" type="text" asp-for="entry.StudentResponse"/>
                </div>
                <div class="form-group">
                    <label>UOM</label>
                    <input class="form-control" name="uom" type="text" asp-for="entry.Uom"/>
                </div>
                <div class="form-group">
                    <label>UOM ID</label>
                    <input class="form-control" name="uomId" type="number" asp-for="entry.UomId" />
                </div>
                <div class="form-group">
                    <label>Scalar Factor</label>
                    <input class="form-control" name="scalarFactor" type="text" asp-for="entry.ScalarFactor" />
                </div>
                <div class="form-group">
                    <label>Vector</label>
                    <input class="form-control" name="vector" type="text" asp-for="entry.Vector" />
                </div>
                <div class="form-group">
                    <label>Coordinate</label>
                    <input class="form-control" name="coordinate" type="text" asp-for="entry.Coordinate" />
                </div>
                <div class="form-group">
                    <label>Value</label>
                    <input class="form-control" name="value" type="number"  asp-for="entry.Value"/>
                </div>
                <button type="submit" class="btn btn-secondary">Save</button>
                <button class="btn btn-light" data-dismiss="modal">Cancel</button>
            </form>
        </div>
    </div>
</div>

@*Edit modal*@
<div class="modal fade" id="update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"> Edit entry</div>
            </div>
            <div class="modal-body">
                THIS IS A TEST
            </div>
            <div class="modal-footer">
                <button class="btn-light" data-dismiss="modal">Cancel</button>
                <button class="btn-dark">Save</button>
            </div>
        </div>
    </div>
</div>
