@{
    ViewData["Title"] = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"] - Rodrigo Eltz 040913098 </h1>

<div class="mt-5">
    <a asp-controller="Chart" asp-action="AgeGroupChart" class="btn btn-primary">Age Group Chart</a>
    <a asp-controller="Chart" asp-action="GenderChart" class="btn btn-primary">Gender Chart</a>
    <a asp-controller="Chart" asp-action="StudentResponseChart" class="btn btn-primary">Student Response Chart</a>
    <a asp-controller="Chart" asp-action="MaleStudentResponseChart" class="btn btn-primary">Males only Student Response Chart</a>
    <a asp-controller="Chart" asp-action="ElevenAgeGroupResponseChart" class="btn btn-primary">11 Years Old Student Response Chart</a>

</div>




